NOTION_TOKEN=NOTION_TOKEN
NOTION_DATABASE_ID=NOTION_DATABASE_ID
NOTION_TICKET_DB_ID=NOTION_TICKET_DB_ID

REDIS_URL=REDIS_URL
APP_ENV=APP_ENV
LOG_LEVEL=LOG_LEVEL
DATABASE_URL=DATABASE_URL
IMGUR_CLIENT_ID=IMGUR_CLIENT_ID


AZURE_OPENAI_EMB_KEY=AZURE_OPENAI_EMB_KEY
AZURE_OPENAI_LLM_KEY=AZURE_OPENAI_LLM_KEY
AZURE_LLM_ENDPOINT=AZURE_LLM_ENDPOINT
AZURE_EMB_ENDPOINT=AZURE_EMB_ENDPOINT
AZURE_EMB_DEPLOYMENT=AZURE_EMB_DEPLOYMENT
AZURE_EMB_API_VERSION=2023-05-15
AZURE_LLM_DEPLOYMENT_41_MINI=AZURE_LLM_DEPLOYMENT_41_MINI
AZURE_LLM_API_VERSION=2024-12-01-preview